.documents-content {
  position: relative;
  padding: 0 vw(397, 1920) 100px vw(397, 1920);
  .documents-sticker {
    position: absolute;
    left: 0;
    top: 0;
    width: 270px;
    height: 65px;
    background: $black;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-left: 100px;
    display: flex;
    align-items: center;
    h5 {
      font-weight: normal;
      font-size: 18px;
      line-height: 140%;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
  .documents-title {
    font-size: 110px;
    line-height: 100%;
    text-transform: uppercase;
    color: #2d2d2d;
    margin-bottom: 50px;
  }
}

.documents-content-list {
  .documents-link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #cbd2c5;
    padding: 30px 0 60px 0;
    transition: $transition-fuction;
    &:hover {
      @include from(992px) {
        border-top: 1px solid $green;
      }
    }

    .date {
      display: flex;
      .icon--clock {
        width: 13px;
        height: 13px;
        stroke: #435055;
        fill: none;
        margin-right: 10px;
        margin-top: 6px;
      }
      p {
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #435055;
      }
    }
    .description {
      width: 530px;
      p {
        font-size: 24px;
        line-height: 130%;
        color: #2d2d2d;
      }
    }
    .image {
      width: 65px;
      height: 65px;
      border-radius: 50%;
      position: relative;
      background: $black;
      overflow: hidden;
      &::before {
        content: '';
        background: $green;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border-radius: 50%;
        transform: translate3d(0, 0, 0);
        transition: transform 0.3s;
        transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
        position: absolute;
        top: 0;
        left: 0;
      }
      &:hover::before {
        transform: translate3d(0, 100%, 0);
      }
      .icon--download {
        width: 15px;
        height: 21px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
