.service__title {
  font-size: 38px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #343434;
  margin-bottom: 30px;
}

.service__notes {
  width: 45%;
  border-left: 6px solid #79b43e;
  padding-left: 30px;
  font-size: 20px;
  line-height: 150%;
  color: #435055;
  margin-bottom: 50px;
}
.service__img {
  margin-bottom: 150px;
}

.service__link {
  padding-top: 10px;
  margin-bottom: 50px;
}
