.single-news {
  background: #f0f0f0;
  .breadcrumbs {
    padding: calc(var(--header-h) + 60px) vw(100, 1920) 27px 0;
    margin: 0;
    @include to(1440px) {
      padding: calc(var(--header-h) + 40px) vw(70, 1440) 30px 0;
    }
  }
}

.single-container {
  width: 100%;
  padding: 60px 80px;
  background: #ffffff;
  @include to(1440px) {
    padding: 40px 60px;
  }
  &__title {
    font-size: 38px;
    line-height: 140%;
    text-transform: uppercase;
    color: #2d2d2d;
    margin-bottom: 40px;
    @include to(1440px) {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }
  &__img {
    margin-bottom: 40px;
    @include to(1440px) {
      margin-bottom: 30px;
    }
  }
  &__img--offer {
    position: relative;
    &::before {
      content: '';
      display: inline-block;
      background: url('../images/star-offer.svg') no-repeat center / cover;
      width: 65px;
      height: 65px;
      position: absolute;
      right: -32px;
      top: -32px;
      @include to(1440px) {
        width: 47px;
        height: 47px;
        right: -23.5px;
        top: -23.5px;
      }
    }
  }
  &__text {
    font-size: 20px;
    line-height: 150%;
    color: #435055;
    padding-bottom: 40px;
    @include to(1440px) {
      font-size: 14px;
      padding-bottom: 20px;
    }
  }
}
.single-container__link-next {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #435055;
  margin-top: 60px;
  @include to(1440px) {
    font-size: 14px;
  }
}
