.sideform {
  width: 100vw;
  height: 100vh;
  background: #2d2d2d;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.form {
  position: relative;
  padding: 0 vw(397, 1920);
}
.sideform-active {
  visibility: visible;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.form-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-container__btn {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-60px, -50%);
  width: 65px;
  height: 65px;
  .form-close {
    width: 65px;
    height: 65px;
    background: #464646;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    svg {
      width: 11px;
      height: 11px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.form-content__title {
  font-size: 64px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
}
.sideform {
  .form-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }
  .form-field-input {
    width: 40.5%;
  }
  .form-field__input {
    width: 100%;
    height: 80px;
    border-radius: 5px;
    margin-top: 15px;
    padding-left: 40px;
    border-bottom: 15px;
    &::placeholder {
      font-size: 24px;
      line-height: 130%;
      color: #2d2d2d;
    }
  }
}

.form-field-confirm {
  width: 9.8%;
}

label {
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #c7c7c7;
}

.input-message {
  font-size: 14px;
  color: red;
  line-height: 1.7;
  padding: 15px 0;
  min-height: 50px;
  transition: opasity 0.4s ease-in-out;
  @include to(1440px) {
    font-size: 12px;
    padding: 10px 0;
    min-height: 40px;
  }
  @include to(992px) {
    font-size: 10px;
    padding: 10px 0;
    min-height: 30px;
  }
}

.callback__btn {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: $green;
  border: none;
}
.form-gratitude {
  width: 100vw;
  height: 100vh;
  background: #2d2d2d;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;

  &.form-gratitude-active {
    visibility: visible;
    opacity: 1;
    transition: all 0.4s ease-in-out;
  }
  .form-content__title {
    width: 70%;
  }
  .form-gratitude__text {
    font-size: 18px;
    line-height: 160%;
    color: #cbd2c5;
    margin-top: 20px;
  }
  .btn-404__link {
    border: 1.2px solid #ffffff;
    color: #ffffff;
    &::before {
      background: #2d2d2d;
    }
    &:hover {
      border: 1px solid $green;
    }
  }
}
[data-btn-submit-text] {
  display: none;
}
// .form-header-call {
//   background: rgba(0, 0, 0, 0.7);
//   width: 100vw;
//   // height: calc(100% - 50px);
//   height: 100%;
//   height: calc(var(--vh, 1vh) * 100);
//   z-index: 10;
//   position: fixed;
//   top: 0;
//   left: 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   visibility: hidden;
//   opacity: 0;
//   transition: all 0.4s ease-in-out;
//   &.sideform-active {
//     opacity: 1;
//     visibility: visible;
//   }
//   ul {
//     display: flex;
//     flex-direction: column;
//     padding: 0 15px;
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//   }
//   li {
//     width: 100%;
//     height: 50px;
//     background: #f4f7f9;
//     border-radius: 10px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-bottom: 6px;
//     font-size: 15px;
//     line-height: 100%;
//     color: $black;
//     a {
//       width: 100%;
//       height: 50px;
//       font-size: 15px;
//       line-height: 100%;
//       color: $black;
//       text-decoration: none;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//     }
//   }
//   button {
//     width: 100%;
//     height: 50px;
//     border: none;
//     background: none;
//     font-family: $default-font;
//     padding: 0;
//     font-size: 15px;
//     line-height: 100%;
//     color: $black;
//   }
//   .cancel {
//     background: $red;
//     color: $white;
//   }
// }
// .input-message {
//   display: none;
// }
// [data-btn-submit-text] {
//   display: none !important;
// }
