.menu-container.js-menu-container
  header.header-js#header
    a(href='index.html')
      +svg('logo')
    .header-nav
      a(href='tel:+380505008584').header-tel 
        span + 38 (050) 500-85-84
      include ../components/lang/lang.pug
      button(type='button').header-call.js-call
        span замовити дзвінок
      a(href='#').realty
        span обрати нерухомість
      .header-menu.js-menu-open
        span меню
        .button--skoll 
          +svg('close')

  .menu-content
    .grey-sticker
      h5 menu
    .menu-content-section
      .menu-content-section-title
        h5.title-number 00
        h2.title головна
      ul.menu-list 
        li
          a(href="#") Головна
        li
          a(href="#") Переваги
        li
          a(href="#") Проєкт в цифрах