.menu-container.js-menu-container
  header.header.header-js#header
    .logo
      a(href='index.html').logo__link
        +svg('logo').logo__img
    .nav
      a(href='tel:+380505008584').nav__tel-link
        span.nav__tel-text + 38 (050) 500-85-84
      include ../components/lang/lang.pug
      button(type='button').nav__call-btn.js-call
        span.nav__call-btn-text замовити дзвінок
      
      a(href='#').realty__link
        span.realty__text обрати нерухомість
      .menu.js-menu-close
        span.menu__text меню
        .menu__btn
          +svg('close').menu__img

  .menu-content
    .grey-sticker
      h5 menu
    .menu-content-section
      .menu-content-section-title
        h5.title-number 00
        h2.title головна
      ul.menu-list 
        li
          a(href="index.html") Головна
        li
          a(href="#") Переваги
        li
          a(href="#") Проєкт в цифрах
    .menu-content-section
      .menu-content-section-title
        h5.title-number 01
        h2.title Обрати нерухомість
      ul.menu-list 
        li
          a(href="#") 3D генплан
        li
          a(href="#") За параметрами
        li
          a(href="#") 1-кімнатні
        li
          a(href="#") 2-кімнатні
        li
          a(href="#") 3-кімнатні
        li
          a(href="#") 4-кімнатні
        li
          a(href="commercial.html") Комерційна нерухомість
        li
          a(href="equipment.html") Комплектація квартир
    .menu-content-section
      .menu-content-section-title
        h5.title-number 02
        h2.title про комлекс
      ul.menu-list 
        li
          a(href="gallery.html") Галерея
        li
          a(href="#") Локація
        li
          a(href="#") Інфраструктура
        li
          a(href="service.html") Пост сервіс
        li
          a(href="post-service.html") Обслуговуюча компанія
        li
          a(href="investor.html") Для інвестора
        li
          a(href="#") Умови придбання
    .menu-content-section
      .menu-content-section-title
        h5.title-number 03
        h2.title будівництво
      ul.menu-list 
        li
          a(href="panorama.html") Панорама 180°
        li
          a(href="news.html") Новини та акції
        li
          a(href="#") Хід будівництва
        li
          a(href="documents.html") Документи
        li
          a(href="#") Забудовник
    .menu-content-section
      .menu-content-section-title
        h5.title-number 04
        h2.title Контакти
      ul.menu-list 
        li
          a(href="contacts.html") Контакти
        li
          a(href="#") Зворотній зв’язок