extends ../layout/main
block variable
  -
    var title_page = 'хід будівництва'
    //- var id_page = 'contacts'
    //- var class_page = 'contacts'
    // var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      //- {
      //-   label: 'новини та акції',
      //-   link: pagesLink[0].documents
      //- }
    ]
block meta
  //- title= 'Documents'
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/building.js')
  block content
    include ../includes/breadcrumbs.pug
    section.documents-content
      .documents-sticker
        h5 construction 
      h1.documents-title хід будівництва
      .filter
        .select
          .select__year
            .select__year--selected 2021
            ul.select__year--list.filter-form
              li.select__year--item 2020
              li.select__year--item 2019
              li.select__year--item 2018
          .select__month
            .select__month--selected Вересень
            ul.select__month--list 
              li.select__month--item(data-filter="all") всі місяці
              li.select__month--item(data-filter="8") серпень
              li.select__month--item(data-filter="7") липень
              li.select__month--item(data-filter="6") червень
              li.select__month--item(data-filter="5") травень
              li.select__month--item(data-filter="4") квітень
              li.select__month--item(data-filter="3") березень
              li.select__month--item(data-filter="2") лютий
              li.select__month--item(data-filter="1") січень
              li.select__month--item(data-filter="12") ГРУДЕНЬ
              li.select__month--item(data-filter="11") ЛИСТОПАД
              li.select__month--item(data-filter="10") ЖОВТЕНЬ
              li.select__month--item(data-filter="9") вересень 
        a(href='news.html').realty__link
          span.realty__text Новини та акції
      ul.news-content__list(data-build-container)
        //- li.news-content__item.building-content__item
        //-   +svg('plus').building-plus
        //-   .news-content__link
        //-     .news-content__img.building-content__img
        //-       img(src="./assets/images/building1.jpg", alt="")
        //-     .building-content__description 
        //-       .building-content__date 
        //-         +svg('clock')
        //-         p
        //-           span(data-build-date) 18 
        //-           span(data-build-month) червня 
        //-           span(data-build-year) 2021
        //-       .building-content__info 
        //-         +svg('slides')
        //-         p 9
       
    block header
      include ../includes/header.pug
      
    block footer
      include ../includes/footer.pug





