extends ../layout/main
block variable
  -
    var title_page = 'хід будівництва'
    //- var id_page = 'contacts'
    //- var class_page = 'contacts'
    // var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      //- {
      //-   label: 'новини та акції',
      //-   link: pagesLink[0].documents
      //- }
    ]
block meta
  //- title= 'Documents'
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/building.js')
  block content
    //- include ../includes/breadcrumbs.pug
    //- section.documents-content
    //-   .documents-sticker
    //-     h5 construction 
    //-   h1.documents-title хід будівництва
    //-   .filter
    //-   ul.news-content__list
    //-     li.news-content__item
    //-       .news-content__link
    //-         .news-content__img.building-content__img
    //-           img(src="./assets/images/building1.jpg", alt="")
    //-         .building-content__description 
    //-           .building-content__date 
    //-             +svg('clock')
    //-             p 18 червня 2021
    //-           .building-content__info 
    //-             +svg('slides')
    //-             p 9
    //-     li.news-content__item
    //-       .news-content__link
    //-         .news-content__img.building-content__img
    //-           img(src="./assets/images/building1.jpg", alt="")
    //-         .building-content__description 
    //-           .building-content__date 
    //-             +svg('clock')
    //-             p 18 червня 2021
    //-           .building-content__info 
    //-             +svg('slides')
    //-             p 9
    //-     li.news-content__item
    //-       .news-content__link
    //-         .news-content__img.building-content__img
    //-           img(src="./assets/images/building1.jpg", alt="")
    //-         .building-content__description 
    //-           .building-content__date 
    //-             +svg('clock')
    //-             p 18 червня 2021
    //-           .building-content__info 
    //-             +svg('slides')
    //-             p 9
    //-     li.news-content__item
    //-       .news-content__link
    //-         .news-content__img.building-content__img
    //-           img(src="./assets/images/building1.jpg", alt="")
    //-         .building-content__description 
    //-           .building-content__date 
    //-             +svg('clock')
    //-             p 18 червня 2021
    //-           .building-content__info 
    //-             +svg('slides')
    //-             p 9
    //- block header
    //-   include ../includes/header.pug
      
    //- block footer
    //-   include ../includes/footer.pug



    .building-popup(data-build-popup-container)
      .building-popup__container
        .building-popup__close 
          +svg('close')
        .building-sticker
          h5 18 червня 2021
        .building-video 
          .building-video__btn 
            <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 15V0L12 7.5L0 15Z" fill="#79B43E"/>
            </svg>
          p Переглянути відеозвіт


        .swiper.buildingSwiper
          .swiper-wrapper
            .swiper-slide
              img(src="./assets/images/building1.jpg", alt="")
            .swiper-slide
              img(src="./assets/images/building2.jpg", alt="")
            .swiper-slide
              img(src="./assets/images/building3.jpg", alt="")
            .swiper-slide
              img(src="./assets/images/building4.jpg", alt="")
            .swiper-slide
              <iframe class="building-swiper-video" width="560" height="315" src="https://www.youtube.com/embed/xModD1ROH5U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          .swiper-pagination-container
            .swiper-pagination
            .swiper-button-container
              .swiper-button-prev
                +svg('arrow-prev')
              .swiper-button-next 
                +svg('arrow-next')



