extends ../layout/main
block variable
  -
    var title_page = 'Забудовник'
    //- var id_page = 'location'
    //- var class_page = 'location'
    // var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      //- {
      //-   label: 'новини та акції',
      //-   link: pagesLink[0].documents
      //- }
    ]
block meta
  //- title= 'Documents'
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
block content
  include ../includes/breadcrumbs.pug
  section.documents-content
    .documents-sticker
      h5 Developer
    h1.documents-title Забудовник
    .developer
      .developer__logo
        +svg('developer')
        p Будівельна компанія "GAZDA"-Будівництво та продаж нерухомості
      a(href='https://zk.com.ua/').realty__link
        span.realty__text Сайт забудовника
    .residential
      h4.residential__title житлові комплекси
      .swiper-residential.residentialSwiper
        .swiper-slide
          a(href='#')
            .residential-slide__img
              img(src="./assets/images/main-news2.jpg", alt="")
            h6.residential-slide__title жк “dream city” 



block header
  include ../includes/header.pug
  
block footer
  include ../includes/footer.pug


