.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #435055;
  z-index: 1;
  margin: calc(var(--header-h) + 60px) vw(100, 1920) 27px 0;

  // @include to(1440px) {
  //   margin: 0 vw(110, 1360) 15px auto;
  //   font-size: 12px;
  // }
  // @include to(992px) {
  //   margin: 0 vw(40, 768) 36px auto;
  //   font-size: 14px;
  // }
  // @include to(576px) {
  //   margin: 0 vw(20, 320) 20px auto;
  //   font-size: 10px;
  // }
  &-item {
    // margin-right: 15px;
    &__current::after {
      display: initial;
      margin: 0;
    }
    &__link {
      // display: flex;
      // align-items: center;
      // align-content: center;
      text-decoration: none;
      font-size: 13px;
      line-height: 100%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #435055;
      &::after {
        content: '';
        display: inline-block;
        background: $green;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin: 3px 15px;
      }
    }
    &:last-child {
      display: initial;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 210px;
      // @include to(576px) {
      //   max-width: 14ch;
      // }
    }
  }
}
