footer {
  background: $black;
  width: 100%;
  height: 100%;
  position: relative;
}

.footer-navigation {
  display: flex;
  // padding: 50px 100px;
  padding: 50px vw(100, 1920);
  border-bottom: 1px solid #464646;
  li {
    margin-right: 60px;
    a {
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      text-transform: uppercase;
      color: #f0f0f0;
      text-decoration: none;
      transition: $transition-fuction;
      &:hover {
        @include from(992px) {
          color: $green;
        }
      }
    }
  }
}

.footer-content {
  display: flex;
  // justify-content: space-between;
  border-bottom: 1px solid #464646;
}
.footer-container-contact {
  position: relative;
  width: 31%;
}
.footer-form {
  // padding: 143px 100px;
  padding: 143px vw(100, 1920);
  border-right: 1px solid #464646;
  width: 69%;
  h3 {
    font-weight: normal;
    font-size: 64px;
    line-height: 120%;
    text-transform: uppercase;
    color: #ffffff;
    width: 1124px;
  }
  .contact-form {
    padding-top: 40px;
    .form-field {
      display: flex;
      .form-field-input {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        label {
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #c7c7c7;
          margin-bottom: 14px;
        }
        .input-footer {
          width: 458px;
          height: 80px;
          padding-left: 40px;
          border-radius: 5px;
          &::placeholder {
            font-size: 24px;
            line-height: 130%;
            color: #2d2d2d;
          }
        }
      }
    }
  }
}
.form-button {
  width: 110px;
  height: 110px;
  overflow: hidden;
  background: #679836;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  border: none;
  &::before {
    content: '';
    background: $green;
    width: 100%;
    height: 0;
    padding-bottom: 105%;
    border-radius: 50%;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
    position: absolute;
    top: 0;
    left: 0;
  }
  &:hover::before {
    transform: translate3d(0, 100%, 0);
  }
  .btn-submite {
    width: 25px;
    height: 26px;
    stroke: #f0f0f0;
    stroke-width: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.footer-info {
  display: flex;
  flex-direction: column;
  padding: 143px 100px 143px 60px;
  li {
    margin-bottom: 40px;
    &:hover {
      @include from(992px) {
        a {
          color: $green;
        }
      }
    }
    .title {
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: #cbd2c5;
      margin-bottom: 8px;
    }
    .map {
      margin-bottom: 8px;
    }
    a {
      text-decoration: none;
      font-weight: 500;
      font-size: 24px;
      line-height: 130%;
      color: #f0f0f0;
      transition: $transition-fuction;
    }
    p {
      font-weight: 500;
      font-size: 24px;
      line-height: 130%;
      color: #f0f0f0;
    }
  }
  .footer-social {
    display: flex;
    li {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.arrow-up {
  cursor: pointer;
  position: absolute;
  top: 382px;
  right: 100px;
  .green-hover {
    width: 65px;
    height: 65px;
    overflow: hidden;
    background: $green;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: none;
    // background: #464646;
    &::before {
      content: '';
      background: #464646;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      border-radius: 50%;
      transform: translate3d(0, 0, 0);
      transition: transform 0.3s;
      transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
      position: absolute;
      top: 0;
      left: 0;
    }
    &:hover::before {
      transform: translate3d(0, 100%, 0);
    }
    .arrow-up-btn {
      width: 16px;
      height: 16px;
      // transform: rotate(-90deg);
      stroke: #f0f0f0;
      stroke-width: 6px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: rotate(-90deg) translate(50%, -50%);
    }
  }
}
.footer-rights-reserved {
  display: flex;
  width: 100%;
  // padding: 50px 100px 0 100px;
  padding: 50px vw(100, 1920) 0 vw(100, 1920);
  justify-content: space-between;
  .footer-rights {
    font-size: 13px;
    line-height: 140%;
    color: #c7c7c7;
    width: 156px;
  }
  .footer-rights-info {
    font-size: 13px;
    line-height: 140%;
    color: #c7c7c7;
    text-align: center;
    width: 534px;
  }
  .icon--smarto {
    width: 78px;
    height: 84px;
  }
}
