.icon--scroll-down {
  width: 65px;
  height: 65px;
  position: fixed;
  right: vw(100, 1920);
  bottom: 60px;
  // transform: scale(1);
  transition: all 0.5s ease;
  z-index: 10;
}
.scroll-down {
  transform: scale(0);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  width: 100%;
  // pointer-events: none;
  border: 1px solid #cbd2c5;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 vw(100, 1920);
  height: var(--header-h);
}
.logo__img {
  width: var(--logo-w);
  height: var(--logo-h);
  transition: $transition-fuction;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
}
.nav__tel-link {
  text-decoration: none;
  color: $black;
  transition: $transition-fuction;
  margin-right: 70px;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
  .nav__tel-text {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #435055;
    top: 100%;
    left: 0;
    pointer-events: none;
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(
      0% 0%,
      0% 100%,
      0 100%,
      0 0,
      100% 0,
      100% 100%,
      0 100%,
      0 100%,
      100% 100%,
      100% 0%
    );
  }
  &:hover {
    @include from(992px) {
      &::before {
        transform: translate3d(0, 2 px, 0) scale3d(1.08, 3, 1);
        clip-path: polygon(
          0% 0%,
          0% 100%,
          50% 100%,
          50% 0,
          50% 0,
          50% 100%,
          50% 100%,
          0 100%,
          100% 100%,
          100% 0%
        );
      }
    }
  }
}
.nav__call-btn {
  margin-right: 70px;
  font-family: $default-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #435055;
  border: none;
  background: none;
  position: relative;
  white-space: nowrap;
  .nav__call-btn-text {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #435055;
    top: 100%;
    left: 0;
    pointer-events: none;
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(
      0% 0%,
      0% 100%,
      0 100%,
      0 0,
      100% 0,
      100% 100%,
      0 100%,
      0 100%,
      100% 100%,
      100% 0%
    );
  }
  &:hover {
    @include from(992px) {
      &::before {
        transform: translate3d(0, 2 px, 0) scale3d(1.08, 3, 1);
        clip-path: polygon(
          0% 0%,
          0% 100%,
          50% 100%,
          50% 0,
          50% 0,
          50% 100%,
          50% 100%,
          0 100%,
          100% 100%,
          100% 0%
        );
      }
    }
  }
}
// .realty {
//   margin-right: 70px;
// }
.realty__link {
  cursor: pointer;
  transition: $transition-fuction;
  padding: 21px 59px;
  width: 290px;
  height: 65px;
  border-radius: 1000px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  color: #ffffff;
  overflow: hidden;
  // background: $black;
  background: transparent;
  // background: #679836;
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 70px;
  border: none;
  .realty__text {
    position: relative;
  }
  &:hover {
    background-color: $black;
  }
  &::before {
    content: '';
    background: $green;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 10%;
    transform: translate3d(0, 0, 0);
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
    position: absolute;
    top: 0;
    left: 0;
  }
  // &::after {
  //   content: '';
  //   background: $black;
  //   width: calc(100% - 2px);
  //   height: calc(100% - 2px);
  //   border-radius: 10%;
  //   transform: translate3d(0, 0, 0);
  //   transition: transform 0.4s;
  //   transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
  //   position: absolute;
  //   top: 1px;
  //   left: 1px;
  //   z-index: -1;
  // }
  &:hover::before {
    transform: translate3d(0, 100%, 0);
  }
}

.menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  .menu__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #435055;
    margin-right: 15px;
  }

  .menu__btn {
    overflow: hidden;
    background: $green;
    position: relative;
    display: inline-block;
    width: 65px;
    height: 65px;
    overflow: hidden;
    border-radius: 50%;
    span {
      position: relative;
    }
    .icon--menu {
      width: 15px;
      height: 6px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .icon--close {
      width: 11px;
      height: 11px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &::before {
      content: '';
      background: #2d2d2d;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      border-radius: 50%;
      transform: translate3d(0, 0, 0);
      transition: transform 0.3s;
      transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &:hover {
    .menu__btn::before {
      transform: translate3d(0, 100%, 0);
    }
  }
}

// header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   background: #ffffff;
//   width: 100%;
//   // pointer-events: none;
//   border: 1px solid #cbd2c5;
//   z-index: 100;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 0 100px;
//   height: var(--header-h);

//   .icon--logo {
//     width: var(--logo-w);
//     height: var(--logo-h);
//     transition: $transition-fuction;
//     cursor: pointer;
//   }

//   .header-nav {
//     display: flex;
//     align-items: center;
//     .header-tel {
//       text-decoration: none;
//       color: $black;
//       transition: $transition-fuction;
//       margin-right: 70px;
//       font-size: 20px;
//       line-height: 140%;
//       letter-spacing: 0.01em;
//       text-transform: uppercase;
//       position: relative;
//       span {
//         display: inline-block;
//         transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
//       }
//       &::before {
//         content: '';
//         position: absolute;
//         width: 100%;
//         height: 1px;
//         background: #435055;
//         top: 100%;
//         left: 0;
//         pointer-events: none;
//         transform-origin: 50% 100%;
//         transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
//         clip-path: polygon(
//           0% 0%,
//           0% 100%,
//           0 100%,
//           0 0,
//           100% 0,
//           100% 100%,
//           0 100%,
//           0 100%,
//           100% 100%,
//           100% 0%
//         );
//       }
//       &:hover {
//         @include from(992px) {
//           &::before {
//             transform: translate3d(0, 2 px, 0) scale3d(1.08, 3, 1);
//             clip-path: polygon(
//               0% 0%,
//               0% 100%,
//               50% 100%,
//               50% 0,
//               50% 0,
//               50% 100%,
//               50% 100%,
//               0 100%,
//               100% 100%,
//               100% 0%
//             );
//           }
//         }
//       }
//     }
//     .header-call {
//       margin-right: 70px;
//       font-family: $default-font;
//       font-weight: 500;
//       font-size: 16px;
//       line-height: 140%;
//       letter-spacing: 0.01em;
//       text-transform: uppercase;
//       color: #435055;
//       border: none;
//       background: none;
//       position: relative;
//       span {
//         display: inline-block;
//         transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
//       }
//       &::before {
//         content: '';
//         position: absolute;
//         width: 100%;
//         height: 1px;
//         background: #435055;
//         top: 100%;
//         left: 0;
//         pointer-events: none;
//         transform-origin: 50% 100%;
//         transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
//         clip-path: polygon(
//           0% 0%,
//           0% 100%,
//           0 100%,
//           0 0,
//           100% 0,
//           100% 100%,
//           0 100%,
//           0 100%,
//           100% 100%,
//           100% 0%
//         );
//       }
//       &:hover {
//         @include from(992px) {
//           &::before {
//             transform: translate3d(0, 2 px, 0) scale3d(1.08, 3, 1);
//             clip-path: polygon(
//               0% 0%,
//               0% 100%,
//               50% 100%,
//               50% 0,
//               50% 0,
//               50% 100%,
//               50% 100%,
//               0 100%,
//               100% 100%,
//               100% 0%
//             );
//           }
//         }
//       }
//     }
//     .realty {
//       display: flex;
//       align-items: center;
//       cursor: pointer;
//       transition: $transition-fuction;
//       padding: 21px 59px;
//       width: 290px;
//       height: 65px;
//       // background: $green;
//       border-radius: 1000px;
//       font-weight: 500;
//       font-size: 16px;
//       line-height: 140%;
//       text-align: center;
//       letter-spacing: 0.01em;
//       text-transform: uppercase;
//       text-decoration: none;
//       white-space: nowrap;
//       color: #ffffff;
//       margin-right: 70px;
//       overflow: hidden;
//       background: #679836;
//       position: relative;
//       display: inline-block;
//       span {
//         position: relative;
//       }
//       &::before {
//         content: '';
//         background: $green;
//         width: 100%;
//         height: 0;
//         padding-bottom: 100%;
//         border-radius: 12%;
//         transform: translate3d(0, 0, 0);
//         transition: transform 0.3s;
//         transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
//         position: absolute;
//         top: 0;
//         left: 0;
//       }
//       &:hover::before {
//         transform: translate3d(0, 100%, 0);
//       }
//     }

//     .header-menu {
//       display: flex;
//       align-items: center;
//       cursor: pointer;
//       span {
//         font-weight: 500;
//         font-size: 16px;
//         line-height: 140%;
//         letter-spacing: 0.01em;
//         text-transform: uppercase;
//         color: #435055;
//         margin-right: 15px;
//       }

//       .button--skoll {
//         overflow: hidden;
//         background: $green;
//         position: relative;
//         display: inline-block;
//         width: 65px;
//         height: 65px;
//         overflow: hidden;
//         border-radius: 50%;
//         span {
//           position: relative;
//         }
//         .icon--menu {
//           width: 15px;
//           height: 6px;
//           position: absolute;
//           top: 50%;
//           left: 50%;
//           transform: translate(-50%, -50%);
//         }
//         .icon--close {
//           width: 11px;
//           height: 11px;
//           position: absolute;
//           top: 50%;
//           left: 50%;
//           transform: translate(-50%, -50%);
//         }
//         &::before {
//           content: '';
//           background: #2d2d2d;
//           width: 100%;
//           height: 0;
//           padding-bottom: 100%;
//           border-radius: 50%;
//           transform: translate3d(0, 0, 0);
//           transition: transform 0.3s;
//           transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
//           position: absolute;
//           top: 0;
//           left: 0;
//         }
//       }
//       &:hover {
//         .button--skoll::before {
//           transform: translate3d(0, 100%, 0);
//         }
//       }
//     }
//   }
// }
